nav {
    background: #fff;
    height: 10vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    box-shadow: 0, 5px, 5px black, 0, 1px, 2px black;
}

nav ul li {
    list-style:none;
    display: inline-block;
    margin-right: 3vh;
}

nav ul li a{
    text-decoration: none;
    color: red;
}

header {
    width: 100%;
}

body .planet-earth {
    background-color: aqua;
    opacity: 80%;
    width: 20%;
}

body .planet-sun {
    background-color: yellowgreen;
    opacity: 80%;
}

body .planet-pluto {
    background-color: burlywood;
    opacity: 80%;
}

body .planet-title, .planet-text {
    text-align: center;
}

body .planet-img {
    background-color: aquamarine;
}

